# SQL in Jupyter Notebook

## Objectives

* Access local database using sqlite3
* Create a table from CSV to Dataframe to Database
* Query data from the table

## Import Library

In [1]:
# load the ipython-sql extension
%load_ext sql
import pandas as pd

## Read csv to Dataframe 

For this demo, I will use three datasets

#### 1. Chicago Census Data

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” by Chicago community area, for the years 2008 – 2012. You can access original dataset from [here.](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2)

The dataset has been modified to a subset for this demo and you can access from [ChicagoCensusData](ChicagoCensusData.csv) in this repository.

#### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. You can access dataset from [here.](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t)

The dataset has been modified to a subset for this demo and you can access from [ChicagoPublicSchools](ChicagoPublicSchools.csv) in this repository.


#### 3. Chicago Crime Data
This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.You can access dataset from [here.](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2)

The dataset has been modified to a subset for this demo and you can access from [ChicagoCrimeData](ChicagoCrimeData.csv) in this repository.

In [2]:
Census = pd.read_csv('ChicagoCensusData.csv')
Census.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [3]:
School = pd.read_csv('ChicagoPublicSchools.csv')
School.head()

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [4]:
Crime = pd.read_csv('ChicagoCrimeData.csv')
Crime.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"

## Create a SQLite Database

SQLite connects to file-based databases, using the Python built-in module [sqlite3](https://docs.python.org/3/library/sqlite3.html) by default.

As SQLite connects to local files, the URL format is slightly different. The “file” portion of the URL is the filename of the database. For a relative file path, this requires three slashes.

Using the %sql magic from ipython-sql and connect strings from SQLAlchemy, we can create a SQLite database or connect it in case it already exists just like:

In [5]:
%sql sqlite:///mydb2.db

'Connected: @mydb2.db'

## Upload Dataframe to Database

The PERSIST command in SQL "magic" simplifies the process of table creation and writing the data from a pandas dataframe into the table.

In [6]:
%sql PERSIST Census
%sql PERSIST School
%sql PERSIST Crime

 * sqlite:///mydb2.db
 * sqlite:///mydb2.db
 * sqlite:///mydb2.db

'Persisted crime'

## List Tables in a Database

You can verify that the table creation was successful by retrieving the list of all tables

In [7]:
# Retrive table list 
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///mydb2.db
Done.

[('census',), ('school',), ('crime',)]

In [8]:
%%sql
INSERT INTO ABBA 
(AlbumID, Title, Released)
VALUES 
(1, 'Ring Ring', 1973),
(2, 'Waterloo', 1974),
(3, 'ABBA', 1975),
(4, 'Arrival', 1976),
(5, 'Abba: The Album', 1977),
(6, 'Voulez-Vous', 1979),
(7, 'Super Trouper', 1980),
(8, 'The Visitors', 1981),
(9, 'Voyage', 2021);

 * sqlite:///mydb.db3
9 rows affected.

[]

## Query Data in the Table

##### You can verify that the table data you added.

In [15]:
#Select all columns from Census
%sql SELECT * from Census Limit 3

 * sqlite:///mydb2.db
Done.

[(0, 1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (1, 2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (2, 3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0)]

##### How many community areas in Chicago have a hardship index greater than 50.0?

In [14]:
%%sql 
SELECT COUNT(community_area_name), hardship_index
FROM Census WHERE hardship_index > 50.0;

 * sqlite:///mydb2.db
Done.

[(38, 53.0)]

##### Which community area which has the highest hardship index?

In [13]:
%%sql 
SELECT community_area_name, hardship_index
FROM Census 
WHERE hardship_index = (
    SELECT MAX(hardship_index) 
    FROM Census
)

 * sqlite:///mydb2.db
Done.

[('Riverdale', 98.0)]

##### Which Chicago community areas have per-capita incomes greater than $60,000?

In [16]:
%%sql 
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME 
FROM Census
WHERE PER_CAPITA_INCOME > 60000

 * sqlite:///mydb2.db
Done.

[('Lake View', 60058),
 ('Lincoln Park', 71551),
 ('Near North Side', 88669),
 ('Loop', 65526)]

##### How many Elementary Schools are in the dataset?

In [17]:
%%sql 
SELECT * FROM School LIMIT 3;

 * sqlite:///mydb2.db
Done.

[(0, 610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (1, 610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (2, 610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)')]

Specify the table name with space in between square bracket `[]` or double-qoutes`""`

In [29]:
%%sql 
SELECT COUNT(*) 
FROM School 
WHERE "Elementary, Middle, or High School" = "ES";

 * sqlite:///mydb2.db
Done.

[(462,)]

##### What are the top 10 schools with the highest "Average Student Attendance"? Using `ORDER BY`

In [32]:
%%sql 
SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE 
FROM SCHOOL
ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC LIMIT 10;

 * sqlite:///mydb2.db
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

Use `NULLS LAST` to `ORDER BY` cluse will put all Null values shown last in the query optput.

In [36]:
%%sql 
SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE 
FROM SCHOOL
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC NULLS LAST LIMIT 5;

 * sqlite:///mydb2.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

##### Remove the '%' sign from the above result set for Average Student Attendance column using `REPLACE`

In [40]:
%%sql 
SELECT NAME_OF_SCHOOL, REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', '')
FROM SCHOOL
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC NULLS LAST
LIMIT 5;

 * sqlite:///mydb2.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

##### Which Schools have Average Student Attendance lower than 70%?

Use `CAST AS` to change datatype from text to float.

In [43]:
%%sql 
SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE 
FROM SCHOOL 
WHERE CAST(
    REPLACE(Average_Student_Attendance, '%', '') AS FLOAT
) < 70;

 * sqlite:///mydb2.db
Done.

[('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Dyett High School', '62.50%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Orr Academy High School', '66.30%'),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Roberto Clemente Community Academy High School', '69.60%'),
 ('Wendell Phillips Academy High School', '63.00%')]

##### Get the total College Enrollment for each Community Area using `GROUP BY`

In [59]:
%%sql 
SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT 
FROM SCHOOL
GROUP BY COMMUNITY_AREA_NAME
ORDER BY TOTAL_ENROLLMENT DESC LIMIT 5

 * sqlite:///mydb2.db
Done.

[('SOUTH LAWNDALE', 14793),
 ('BELMONT CRAGIN', 14386),
 ('AUSTIN', 10933),
 ('GAGE PARK', 9915),
 ('BRIGHTON PARK', 9647)]

##### List the average safety score for each type of school.

In [62]:
%%sql 
SELECT AVG(SAFETY_SCORE) AS average_safety_score, "Elementary, Middle, or High School"
FROM SCHOOL
GROUP BY "Elementary, Middle, or High School";

 * sqlite:///mydb2.db
Done.

[(49.52038369304557, 'ES'), (49.62352941176471, 'HS'), (48.0, 'MS')]

##### Get the hardship index for the community area which has College Enrollment of 4368

Requires subquery from two tables

In [55]:
%%sql 
SELECT C.COMMUNITY_AREA_NAME, C.hardship_index, S.COLLEGE_ENROLLMENT
FROM Census as C, SCHOOL as S 
WHERE C.COMMUNITY_AREA_NUMBER = S.COMMUNITY_AREA_NUMBER
    and S.COLLEGE_ENROLLMENT = 4368;

 * sqlite:///mydb2.db
Done.

[('North Center', 6.0, 4368)]

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis) using `LIKE %`

In [56]:
%%sql 
SELECT *
FROM Crime LIMIT 2

 * sqlite:///mydb2.db
Done.

[(0, 3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (1, 3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)')]

Use `LIKE %` as a wild card.

In [57]:
%%sql 
SELECT CASE_NUMBER
FROM Crime
WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///mydb2.db
Done.

[('HL266884',), ('HK238408',)]

##### Use a sub-query to find the name of the community area with highest hardship index

In [64]:
%%sql 
SELECT COMMUNITY_AREA_NAME, hardship_index 
FROM Census
WHERE hardship_index = (
    SELECT MAX(hardship_index) FROM Census
);

 * sqlite:///mydb2.db
Done.

[('Riverdale', 98.0)]

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [68]:
%%sql 
SELECT COMMUNITY_AREA_NAME, nbr_of_crimes
FROM (
    SELECT CS.COMMUNITY_AREA_NAME, COUNT(CR.CASE_NUMBER) as nbr_of_crimes 
    FROM Census as CS, Crime as CR 
    WHERE CS.COMMUNITY_AREA_NUMBER = CR.COMMUNITY_AREA_NUMBER
    GROUP BY CS.COMMUNITY_AREA_NAME
)
ORDER BY nbr_of_crimes DESC
LIMIT 1;

 * sqlite:///mydb2.db
Done.

[('Austin', 43)]